
<footer style="background-color: #2C3E50; color: #ECF0F1; padding: 40px 0; font-family: Arial, sans-serif;">
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap; max-width: 1200px; margin: auto;">
      
      <!-- Sección Sobre Nosotros formulario donde brindo datos piolassss-->
      <div style="flex: 1 1 250px; margin: 15px;">
        <h3 style="color: #ECF0F1; font-size: 20px;">Sobre Nosotros</h3>
        <p style="color: #BDC3C7; font-size: 14px;">
          Somos una librería dedicada a acercarte los mejores títulos, tanto clásicos como novedades, para que disfrutes del placer de la lectura.
        </p>
      </div>
  
      <!-- Sección Enlaces útiles -->
      <div style="flex: 1 1 150px; margin: 15px;">
        <h3 style="color: #ECF0F1; font-size: 20px;">Enlaces Útiles</h3>
        <ul style="list-style: none; padding: 0;">

            
          <li><a routerLink="descripcion" style="color: #BDC3C7; text-decoration: none;">Sobre Nosotros</a></li>
         
          <li><a routerLink="/descripcion_de_contacto"  style="color: #BDC3C7; text-decoration: none;">Contacto</a></li>
        </ul>
      </div>
  
      <!-- Sección Categorías Populares -->
      <div style="flex: 1 1 150px; margin: 15px;">
        <h3 style="color: #ECF0F1; font-size: 20px;">Categorías Populares</h3>
        <ul style="list-style: none; padding: 0;">
          <li><a routerLink="ficcion" style="color: #BDC3C7; text-decoration: none;">Ficción</a></li>
          <li><a routerLink="fantasia" style="color: #BDC3C7; text-decoration: none;">Fantasia</a></li>
          <li><a routerLink="terror" style="color: #BDC3C7; text-decoration: none;">Terror</a></li>
          <li><a routerLink="general" style="color: #BDC3C7; text-decoration: none;">General</a></li>
        </ul>
      </div>
  

     
    </div>
  
    <!-- Derechos de Autor -->
    <div style="text-align: center; padding: 20px; color: #BDC3C7; font-size: 14px;">
      © 2024 Tu Librería. Todos los derechos reservados.
    </div>
  </footer>
  