body {
    display: flex;
    flex-direction: column;

}
main {
    flex: 0.5;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.footer-content {
    display: flex;
    justify-content: space-around;
}
.footer-content div {
    text-align: left;
}
hr {
    border-color: #555;
}