/* Estilos para el contenedor principal */
.container {
    text-align: center; /* Centra el texto horizontalmente dentro del contenedor */
    justify-content: center; /* Centra los elementos hijos horizontalmente cuando se usa display: flex */
    display: flex; /* Aplica el modelo de caja flexible, permitiendo una alineación y distribución más eficiente de los elementos hijos */
}


